<h1>Tags#index</h1>
 <h2>Tags</h2>
    <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the
     right tags makes it easier for others to find and answer your question.</p>
     
<% if @tags.any? %>
   <% @tags.each do |tag| %>
        <p><%= tag.tag %>&nbsp&nbsp<%= link_to "edit", edit_tag_path(tag)%>&nbsp<%= link_to "delete", tag_path(tag), data: {confirm: 'delete tag?', method: :delete}%></p>
     <% end %>
     <% else %>
     <h3>kuwa serious,hakuna tags bado!!</h3>
<% end %>

<%= link_to "new tag" ,new_tag_path %>